@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Lutica's test field!</h1>
<a href="luticacanard.github.io"> <p1> Lutica's Github blog</p1></a>

<h2>I hope host my community game in this site if I can </h2>