@page "/mamoru"

<h3>mamoru</h3>


<center>


</center>
@code {
	public int makingsex()
	{
		Random rand = new Random();
		int r1 = rand.Next(2) + 1;
		return r1;
	}

	public int firstDice()
	{
		Random rand = new Random();
		int r1 = rand.Next(6) + 1;
		return r1;
	}

	public List<int> secondDice(int first)
	{
		Random rand = new Random();
		List<int> retu = new List<int>() { };
		if(first<=2)
		{
			for(int i = 0; i < 5; i++)
			{
				retu.Add(rand.Next(4) + 1);
			};
		}else if(first<=5)
		{
			for(int i = 0; i < 5; i++)
			{
				retu.Add(rand.Next(6) + 1);
			};
		}
		else if(first==6)
		{
			for(int i = 0; i < 5; i++)
			{
				retu.Add(rand.Next(10) + 1);
			};
		}
		return retu;
	}
	//d4+2
}
